<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>YoungH</title>
    <link rel="stylesheet" href="/assets/style/bootstrap/css/bootstrap.min.css">
    <style>

        #title { margin-top: 100px; }

        .table-responsive { margin-top: 100px; }
        .pull-right { text-align: right; }
        .pull-right p { font-size: 15px; }
    </style>
</head>
<body>
    <div class="container">

        <h1 id="title">YoungH Forever!</h1>

        <div class="pull-right">
            <% if (log) {%>
                <p>Welcome to <%= user_id %></p>
                <a href="/user/logout"><button class="btn btn-sm btn-danger">logout</button></a>
            <% }else{ %>
                <p>Please login</p>
                <a href="/user/login">login</a> / <a href="/user/register">register</a>
            <% } %>
        </div>
        

         <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>번 호 </th>
                    <th>제 목</th>
                    <th>글쓴이</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <%
                    for(var i=0; i<rows.length; i++){
                        var item = rows[i];
                %>

                    <tr>
                        <td><%= item.b_id %></td>
                        <td><a href="/bbs/list/view?bid=<%= item.b_id %>"><%=item.title %></a></td>
                        <td><%= item.user_id %></td>
                        <td><%= item.views %></td>
                    </tr>
                <%
                    }
                %>   
            </table>
        </div>
        
        <div class="btn-group pull-right" role="group">
            <a href="/bbs/write"><button type="button" class="btn btn-success">write</button></a>
        </div>

    </div>
</body>
</html>